@page "/ConsultaLlamadas"
@using _2doParcial_JonathanMaria.Controllers;
@using _2doParcial_JonathanMaria.Models;

<h3>Consulta de Llamadas</h3>

<table class="table">
    <thead>
        <tr>
            <td>Codigo</td>
            <td>Descripcion</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ListaLlamadas)
        {
        <tr>
            <td>@item.LlamadaId</td>
            <td>@item.Descripcion</td>
            <td><a class="btn btn-sm btn-outline-primary" href="RegistroLlamadas/@item.LlamadaId">Ver</a></td>
        </tr>
        }
    </tbody>
</table>



@code {

    LlamadasController llamadasController = new LlamadasController();

    List<Llamadas> ListaLlamadas;
    protected override void OnInitialized()
    {
        ListaLlamadas = llamadasController.GetList(e => true);
    }



}